<%= render partial: "nav" %>

<button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" data-placement="left" data-content=<%@workouts.each do |workout|%>
        <li><%=workout.warmup%><br></li>
        <li><%=workout.power%><br></li>
        <li><%=workout.endurance%><br></li>
    <%end%>
    data-original-title="Popover Title" aria-describedby="popover763764">Left</button>
