<%= render partial: "nav" %>


<h1>Hello <%=current_user.name%></h1>

<%@workouts.each do |workout|%>
    <%=link_to workout.workout_name, workout_path(workout)%><br>
    <%=link_to workout.created_at, workout_path(workout)%><br>
<br>
<%end%>
